# Ignore node_modules directory
node_modules/

# Ignore build output
# using render so not this

# Ignore IDE and editor files
.vscode/
.idea/

# Ignore logs and temporary files
*.log
*.tmp

# Ignore environment-specific files
.env
.env.local
.env.*.local

# Ignore dependency lock files
package-lock.json

# Ignore Mac related hidden files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
